* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 400px;
}

/* move properties from content to outer-div to keep buttons after snap */
.outer-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#start-btn {
    font-size: 20px;
    padding: 20px 40px 20px 80px;
    margin-top: 30px;
    border-radius: 10px;
    background: url("gauntlet-snap.png") 30px no-repeat;
    background-size: 30px;
}

#start-btn:hover{
    cursor: pointer;
}

.dust {
    position: absolute;
    /* need fix height for faster performace and prevent image resize
       and margin-bottom because of flex in body element
    */
    height: 400px!important;
    margin-bottom: 196px!important;
}

#otherImage {
    font-size: 20px;
    padding: 20px 40px;
    margin-top: 30px;
    border-radius: 10px;
    background: none;
}